.service-page-text {
    padding: 8px;
    margin-top: 30px;
    text-align: center;

    .service-page-heading {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .service-page-description {
        margin-top: 20px;
        .description-para {

        }
    }
}