.key-feature-container {
    padding: 70px;

    .key-feature-row {
        display: flex;
        margin: 20px 5%;

        .non-image-continer {
            align-self: center;
            
            .title-container {
                height: fit-content;
                align-self: center;
                
                .icon {
                    background: #f5fafe;
                    border-radius: 40px;
                    padding: 20px;
                    height: fit-content;
                    align-self: center;
                    margin: 15px 15px 0 0;
                }
                .title {
                    font-size: 28px;
                    font-weight: 700;
                }
        
            }
            .desc {
                display: flex;
                // padding-left: 75px;
                opacity: 0.8;
            }
        }

        .pl-75{
            padding-left: 75px;
        }
        .pr-75{
            padding-right: 75px;
        }

        .image {
            width: 50%;
        }
    }

    @media (max-width: 480px) {
        padding: 24px;

        .key-feature-row {
    
            .non-image-continer{

                .title-container {
                    padding-top: 16px;
                    .icon {
                        align-self: initial;
                        margin: 15px 15px 0 0;
                    }
                }
            }
    
            .image {
                width: 0;
            }
        }
    }

}