.journey-details-container {
    color: #FFF;
    background-color: #292E31;
    padding: 50px;
    align-self: center;
    border-radius: 20px;
    
    .find-button {
        font-weight: 900;
        color: #FFF;
        line-height: 40px;
        background-color: #EC692F;
        border-radius: 5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: .25s ease;
        justify-content: center;
    }
}