.phone-component {
    position: fixed;
    bottom: 0;
    background: yellowgreen;
    right: 0;
    padding: 10px;
    margin: 14px;
    border-radius: 20px;

    a {
        font-size: 50px;
        color: white;    
        text-decoration: none;
    }
}