.header{
    padding: 10px;
    background-color: #000000;

    .h-80{
        height: 80px;
    }

    .item-container{
        display: flex;
     
        .items{
            height: 30px;
            margin: auto;
            margin-right: 0;           
        }
    }
}