.component-car-item {
    display: flex;
    justify-content: space-between;
    background: rgb(242, 245, 241);
    margin: 8px 0;
    border-radius: 4px;

    .info {
        display: flex;
        // flex-direction: row-reverse;
        padding: 16px;
        flex: 1 0 75%;
        width: 75%;
        position: relative;
        line-height: 1.4;

        img {
            transform: scale(-1, 1);
            width: auto;
            height: 121px;
            min-width: 120px;
            padding: 0 0 0 16px;
            max-width: max-content;
        }
    }

    .desc {
        margin-left: 16px;
        overflow: hidden;
        flex-direction: column;
        flex: 1;
        display: flex;
    }

    .price-book-ctr {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 0 16px;
        border-top: 1px solid #f5f5f5;
        align-items: center;

        .price-bar {
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            color: #1f1f1f;
            align-items: center;
            display: flex;
            text-align: center;
        }

        .book {
            background-color: white;
            border: none;
            border-radius: 11px;
            padding: 5px 15px;
            font-weight: 700;
            color: rgb(131, 180, 34);
            &:hover {
                background-color: yellowgreen;
                color: white;
            }
        }
    }

}

@media (max-width: 481px) {
    .component-car-item {
        display: flex;
        width: 100%;
        .info {
            width: 100%;

            .desc{
                .card-bottom-content{
                    display: flex;
                    justify-content: space-between;
                    .car-details{
                        padding: 5px;
                    }
                }
            }
        }

        .price-book-ctr{
            padding: 0px;
            margin: 0px;
            align-items: center;
            .price-bar{
                margin-right: inherit;
            }
        }
    }
}